html {
    font-size: 16px;
}

header h1, header h2, header h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 0.2rem;
}

header h1 {
    font-size: 1.8rem;
}

header h2 {
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}

header h3 {
    font-size: 1rem;
}

section {
    font-size: 1rem;
}

section h1 {
    font-size: 1.6rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer div {
    width: 30%;
    padding: 4px;
    margin: 8px;
    text-align: center;
}

a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}

/* Your normal debug styles */
.debug * {
  border: 1px solid darkblue !important;
}

/* When you want to hide borders */
.debug.off * {
  border: none !important;
}
