.logo_img {
    width: 80px;
    border: 5px double red;
    border-radius: 50%;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    background-color: rgb(220, 220, 240);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px dashed rgb(200, 200, 220);
    margin: 3px;
}

li:hover {
    background-color: rgb(200, 200, 220);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-top: 11px;
    border-color: rgb(160, 160, 180);
}

li:active {
    background-color: rgb(160, 160, 180);
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-color: rgb(120, 120, 140);
}

.logo, .logo:after, .logo:hover {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu_link {
    font-size: larger;
    color: rgb(230, 250, 230);
    font-weight: bold;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(80, 0, 80);
}