html {
    max-width: 1000px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: darkslategray;
  height: 200px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.block {
  width: 30%;
  height: 10em;
  background-color: cadetblue;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.block-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

@media print {
    body {
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}

@media screen and (max-width: 992px) {
    .block-container {
        width: 30%;
    }
    .block {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .block-container {
        width: 20%;
    }
    .block {
        width: 540px;
    }
}