body {
    background: #d1e2eb;
}

.container {
  display: flex;
  background-color: blanchedalmond;
  padding-left: 3%;
  align-items: center;
  gap: 8%;
}

h1 {
    background-color: aquamarine;
}

ul {
    background-color: aquamarine;
    gap: 10vw;   
}

.jumps {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}