.body {
  background: #d1e2eb;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  background-color: blanchedalmond;
  padding-left: 3%;
  align-items: center;
  gap: 8%;
}

.fixed-header {
  position: sticky;
  top: 2%;
  background: transparent;
  z-index: 10;
}

h1 {
  background-color: rgb(199, 215, 209);
  padding: 1vw;
  border: 3px double rgb(58, 75, 69);
}

.header-back-link {
  width: 10vw;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-image: url("images/littleguy.png");
  right: 0%;
  z-index: 10;
}

.header-back-link:hover {
  width: 10vw;
  height: 10vh;
  background-image: url("images/littleguy2.png");
  z-index: 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

ul {
  gap: 10vw;   
}

.jumps {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: rgb(199, 215, 209);
  padding: 1vh;
  border: 2px double rgb(58, 75, 69);
}

p, h1, h2, a {
  font-family: "PT Serif", serif;
}

h2 {
  padding-left: 3vw;
}

p {
  max-width: 50vw;
  font-size: 100%;
  padding-left: 4vw;
}

a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px black;
}

a:hover {
  text-decoration: underline;
}

section {
  scroll-margin-top: 16vh;
}

.friends {
  width: 18vw;
  height: auto;
  display: block;
  position: absolute;
  left: 56vw;
  top: 84%;
  border: 1vh dashed black;
  border-radius: 5%;
}

.ava {
  width: 15vw;
  height: auto;
  display: block;
  position: absolute;
  left: 70vw;
  top: 140%;
  border: 1vh dashed black;
  border-radius: 5%;
}