.second {
    width: 100px;
    background-color: blueviolet;
}

.third {
    width: 100px;
    height: 100px;
    background-color: aqua;
    overflow-y: scroll;
    overflow-x: hidden;
}

.in_first {
    background-color: rgb(201, 350, 420);
    width: 500px;
    display: inline-block;
}